services:
  traefik-test:
    image: nginx:mainline-alpine
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.traefik-test.entrypoints=web
      - traefik.http.routers.traefik-test.rule=HOST(`${APP_HOST}`)
    volumes:
      - ./:/var/www/html
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    networks:
      - traefik

networks:
  traefik:
    external: true
